*, ::after, ::before {
	margin: 0;
	border: 0;
	box-sizing: border-box;
}

:root {
	--background-color: #13171f;
	--font-color: #f5f5f5;
	--box-color: #3b475e;
	--button-color: #e4572e;
}

html {
	font-size: 62.5%;
	text-align: center;
}

body {
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
	min-height: 100vh;
	background-color: var(--background-color);
	color: var(--font-color);
	position: relative;
	font-family: 'Rajdhani', sans-serif;
}

.start-page {
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
	width: 600px;
	background-color: var(--box-color);
	border: 3px solid black;
	padding: 20px;
	transition: opacity 0.1s ease;
}

h1 {
	font-size: 5rem;
	margin-bottom: 20px;
}

h2 {
	font-size: 3rem;
	margin-bottom: 15px;
}

p {
	font-size: 2rem;
	margin-bottom: 10px;
}

.start-btn, .back-btn {
	font-size: 2rem;
	padding: 10px;
	margin-top: 10px;
	background-color: var(--button-color);
	border: 2px solid #5e2413;
	color: var(--font-color);
	transition: transform 0.2s ease;
	-webkit-font-smoothing: antialiased;
}

.start-btn:hover, .back-btn:hover {
  background-color: #cf4525;
	cursor: pointer;
	transform: scale(1.04);
}

.game-page {
	position: absolute;
	display: flex;
	transition: opacity 0.1s ease;
}

.canvas {
	border: 3px solid black;
}

.instruction {
	border: 3px solid black;
	background-color: var(--box-color);
	font-size: 2rem;
	padding: 10px;
	position: absolute;
	right: -130px;
}

.instruction:hover {
	cursor: pointer;
}

.back-btn {
	position: absolute;
	right: -130px;
	top: 80px;
	padding: 10px 17px;
}

/* Switching */

.hidden {
	opacity: 0;
	pointer-events: none;
}

.visible {
	opacity: 1;
	pointer-events: auto;
}